// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// select2
@import "~select2/dist/css/select2.css";

main.content.py-4 {
    min-height: calc(100vh - 260px);
}
.navbar.navbar-expand-md.navbar-light {
    padding-top: 0px;
    padding-bottom:0px;
}
.content.py-4 .card .card-header {
    display: none;
}
.card {
    border:none;
}
input.form-control {
    background: #ffffff;
    color: #6e777f;
}
.todo-add {
    width:40%;
}
.card-body .btn.btn-link {
    color: #6e777f;
}
.menu-items > a, .nav-item >a,
.menu-items > a:hover, .nav-item >a:hover
{
    color:#ffffff
}
.container.header.py-3 {
    align-items: start;
}
.menu-items {
    border-bottom: 1px #fff solid;
    height: 100%;
    width: auto;
    display: flex;
}
.menu-items > a {
    margin: 0 10px;
}


.container.d-flex.m-auto {
    flex-wrap: wrap;
    padding: 0px;
}
.row {
    width: 100%;
}
.btn {
    min-width: 150px;
}
.show_tags {
    padding: 5px;
    margin: 3px;
    background: #bcdfda;
    text-align: center;
    border-radius: 10px;
}
.header.py-3 {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    //background: #b8d0da;
}
.container.content {
    min-height: calc(100vh - 270px);
}
.container.content .form-control {
    max-width: 30%;
}
.upload_img {
    display: flex;
    justify-content: space-between;
}
.pb-3 {
    padding: 0px !important;
}
nav.mt-2 > a,
.fs-4 {
    color: #ffffff;
    font-weight: bold;
}
.prod-item {
    border: 1px solid #b8d0da;
    border-radius: 6px;
    padding: 15px;
    margin: 10px;
}
img {
    width: 100%;
    height: auto;
}
.prod-item img {
    min-width: 200px;
    min-height: 200px;
    display: block;
    border: 1px solid #b8d0da85;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}
.card-pic {
    border:  1px solid lightblue;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 0.375rem;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ced4da;
    height: 37px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    vertical-align: middle;
    padding: 0 5px;
}
.table.table-bordered th {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}
.item-todo td span {
    background: #c9ddd4;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
}
.tags_wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
}
